html {
  scroll-behavior: smooth;
}

body {
  background-image: linear-gradient(-5deg, #6595a8 10%, #97b7c4 100%);
  /* background-image: url("file:///C:/Users/dazar/Desktop/HTML_Personal_Site/stock.jpeg"); */
  /* background-repeat: no-repeat; */
  padding: 0;
  margin: 0;
  /* position: relative; */
  /* background-color: blue; */
}

#pro {
  text-decoration: underline;
}

.body{
  height: 100vh;
  /* width: 100vw; */
  /* background-image: linear-gradient(-5deg, #6595a8 10%, #97b7c4 100%); */
  position: relative;
  /* padding-bottom: 0px; */
  /* margin-bottom: 0px; */
}

.main {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  color: #ffffff;

  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  position: relative;
  /* background-color: blue; */
  height: 41.56rem;

}

h1{
  font-size: 250%;
}

.imgs1 {
  /* margin-bottom: 10px; */
  /* top: 100px; */
  left: -30%;
  top: 14%;
  position: relative;
}

.middle {
  padding: .1875rem 1.5625rem;
  /* height: 200px; */
  border-radius: 8px;
  color: #ffffff;
  border-style: solid;
  position: relative;
  top: 34%;
  padding-left: 3%;
  padding-right: 3%;
  /* background-color: black; */
}


.imgs2 {
  position: absolute;
  top: 25%;
  right: 9%;
}

#top_part {
  margin-bottom: 0rem;
  font-size: 1.6rem;

}

#bottom_part {
  margin-top: -1.375rem;
  padding-left: 2.625rem;
  font-size: 1.9rem;

}

.mountain {
  position: relative;
  bottom: -31%;
  /* bottom: -3px; */
  left: 0rem;
}

/* display flex resets the values of a hr */
hr{
  margin-top: 4.5rem;
  margin-bottom: 4.5rem;
  border-width: 0.25rem;
  width: 100%;
  border-style: dotted none none;
  width: 10%;
}

.middle-container{
  position: relative;
  top: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.bottom-container{
  position: relative;
  top: 26.25rem;
}
.navbar{
  display: flex;
  justify-content: flex-end;
  /* background: #000; */

}

nav>ul {
  list-style-type: none;
  display: flex;
}

nav>ul>li>a {
  /* margin: 25px; */
  padding: 1rem;
  text-decoration: none;
  color: #ffffff;
}

.profile{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h2{
  font-size: 2.4rem;
}

.profile >img{
  width: 200px;
  height: 200px;
  border-radius: 70%/70%;
}
.profile > p{
  /* margin-left: 60% */
  line-height: 2;
  width: 53%;
  font-size: 1.4rem;
}

.beg{
  display: flex;
  justify-content: center;
  margin-bottom: 9.375rem;
  margin-top: 1.25rem;
}


p{
  line-height: 2;
}

.skillset{
  margin: -1% 39%;
  font-size: 2.0rem;
}

.skill-row-study{
  margin-left: 10%;
  margin-top: -5rem;

}

.skill-row-study > p{
  width: 37rem;
  font-size: 1.3rem;
}

.skill-row-boxing{
  margin-top: 14rem;
  margin-left: 10%;

  /* margin-bottom: 500px; */
  /* margin-right: -200px; */
}


.pic{
  width: 200px;
  height: 200px;
  border-radius: 70%/70%;
  margin-right: 32px;
  float: left;
}

.skill-row-boxing > p{
  width: 70%;
  font-size: 1.3rem;
}

.imgs1>img {
  width: 16.875rem;

}

.imgs2>img {
  width: 16.875rem;
}

.contact-me{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 3rem 0rem;

}

.contact-me > h3{
  font-size: 1.3rem;
  width: 54%;
  line-height: 2;
}

.contact-me > a:link{
  text-decoration: none;
}

.btn{
  background-color: #4D873E;
  border-radius: 28px;
  border: 1px solid #18ab29;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 17px;
  padding: 16px 31px;
  text-shadow: 0px 1px 0px #2f6627;
}

.btn:hover{
  background-color: #5cbf2a;
}

.btn:active{
  position: relative;
  top: 1px;
}

.bottom-container{
  /* margin-top: 0rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bottom-container > a{
  color: #ffffff;
  padding: 1.2rem;
}

.fora > a:link{
  text-decoration: none;
}

.bottom-container > p{
  font-size: 0.75rem;
  padding: 1.2rem 0rem;
}

/* hr {
  border-style: dotted none none;
  border-color: #ff8a5c;
  border-width: 4px;
  width: 5%
} */
